name: Create DevBuild

on:
  pull_request:
    branches:
      - master

jobs:
  create-prerelease:
    name: Create Dev Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'zulu'
          java-version: '17'
          java-package: jdk # optional (jdk or jre) - defaults to jdk
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean install
